# Download heart disease dataset heart.csv in Exercise folder and do following, (credits of dataset: https://www.kaggle.com/fedesoriano/heart-failure-prediction)

Load heart disease dataset in pandas dataframe

Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3

Convert text columns to numbers using label encoding and one hot encoding

Apply scaling

Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy

Now use PCA to reduce dimensions, retrain your model and see what impact it has on your model in terms of accuracy. Keep in mind that many times doing PCA 
reduces the accuracy but computation is much lighter and that's the trade off you need to consider while building models in real life

In [32]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df.shape

(918, 12)

In [6]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [7]:
# Treat Outliers

In [10]:
df.Cholesterol

0      289
1      180
2      283
3      214
4      195
      ...
913    264
914    193
915    131
916    236
917    175
Name: Cholesterol, Length: 918, dtype: int64

In [11]:
df.Cholesterol.mean()

198.7995642701525

In [12]:
df.Cholesterol.std()

109.38414455220348

In [13]:
3*df.Cholesterol.std()

328.15243365661047

In [14]:
198.7995642701525 + 328.15243365661047

526.9519979267629

In [8]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [15]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [16]:
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [17]:
df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [18]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [19]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [20]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [21]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3.shape

(902, 12)

In [22]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [23]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [25]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [26]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [27]:
df4 = df3.copy()

In [28]:
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [33]:
df4.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df4.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df4.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0

In [36]:
df5 = pd.get_dummies(df4, drop_first=True,dtype='int')
df5.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,0,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,130,283,0,2,98,0,0.0,3,0,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,1,0,0,0,0
4,54,150,195,0,1,122,0,0.0,3,0,1,0,1,0

In [37]:
X = df5.drop("HeartDisease",axis='columns')
y = df5.HeartDisease

X.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,0,0,1,0
2,37,130,283,0,2,98,0,0.0,3,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,0,0,0,0
4,54,150,195,0,1,122,0,0.0,3,1,0,1,0

In [38]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.10495034,  0.79657967, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878, -0.10495034,  0.35947592, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [40]:
X_train.shape

(721, 13)

In [44]:
X_scaled.shape

(902, 13)

In [41]:
X_test.shape

(181, 13)

In [42]:
# Build a classification model using various methods (SVM, logistic regression, random forest)

In [47]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [54]:
parameters_svm = {'kernel': ['linear', 'rbf'], 'C': [1,5, 10]}
svm = SVC()
clf_svm = GridSearchCV(svm, parameters_svm, cv=5)
clf_svm.fit(X_train, y_train)

df_svm = pd.DataFrame(clf_svm.cv_results_)
df_svm

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.026634,0.008933,0.004839,0.002737,1,linear,"{'C': 1, 'kernel': 'linear'}",0.855172,0.847222,0.868056,0.819444,0.881944,0.854368,0.021067,4
1,0.016160,0.007861,0.010497,0.008668,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.875862,0.861111,0.895833,0.826389,0.854167,0.862672,0.023086,2
2,0.068684,0.017740,0.004342,0.006854,5,linear,"{'C': 5, 'kernel': 'linear'}",0.855172,0.847222,0.868056,0.819444,0.881944,0.854368,0.021067,4
3,0.022431,0.005801,0.012542,0.003803,5,rbf,"{'C': 5, 'kernel': 'rbf'}",0.889655,0.861111,0.909722,0.812500,0.861111,0.866820,0.032796,1
4,0.122762,0.044545,0.001248,0.001583,10,linear,"{'C': 10, 'kernel': 'linear'}",0.855172,0.840278,0.868056,0.819444,0.881944,0.852979,0.021712,6
5,0.021585,0.007038,0.013247,0.008047,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.868966,0.861111,0.895833,0.812500,0.868056,0.861293,0.027124,3

In [57]:
clf_svm.best_score_

0.8668199233716475

In [53]:
parameters_lr = {'C': [0.1, 1, 10], 'solver': ['liblinear', 'lbfgs']}
log_reg = LogisticRegression()
clf_lr = GridSearchCV(log_reg, parameters_lr, cv=5)
clf_lr.fit(X_train, y_train)

df_clf_lr = pd.DataFrame(clf_lr.cv_results_)
df_clf_lr

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_solver,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007603,0.006889,0.003054,0.001995,0.1,liblinear,"{'C': 0.1, 'solver': 'liblinear'}",0.841379,0.847222,0.875000,0.798611,0.881944,0.848831,0.029535,1
1,0.009517,0.007890,0.000000,0.000000,0.1,lbfgs,"{'C': 0.1, 'solver': 'lbfgs'}",0.841379,0.840278,0.868056,0.798611,0.881944,0.846054,0.028560,2
2,0.006412,0.007854,0.000000,0.000000,1.0,liblinear,"{'C': 1, 'solver': 'liblinear'}",0.848276,0.840278,0.861111,0.798611,0.881944,0.846044,0.027582,3
3,0.006908,0.008506,0.000000,0.000000,1.0,lbfgs,"{'C': 1, 'solver': 'lbfgs'}",0.848276,0.840278,0.861111,0.798611,0.881944,0.846044,0.027582,3
4,0.002666,0.005332,0.000000,0.000000,10.0,liblinear,"{'C': 10, 'solver': 'liblinear'}",0.848276,0.840278,0.861111,0.798611,0.881944,0.846044,0.027582,3
5,0.005231,0.005914,0.004298,0.006638,10.0,lbfgs,"{'C': 10, 'solver': 'lbfgs'}",0.848276,0.840278,0.861111,0.798611,0.881944,0.846044,0.027582,3

In [58]:
clf_lr.best_score_

0.8488314176245211

In [55]:
parameters_rf = {'n_estimators': [50, 100, 200], 'max_features': ['auto', 'sqrt', 'log2']}
rf = RandomForestClassifier()
clf_rf = GridSearchCV(rf, parameters_rf, cv=5)
clf_rf.fit(X_train, y_train)

df_clf_rf = pd.DataFrame(clf_rf.cv_results_)
df_clf_rf

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000000,0.000000,0.000000,0.000000,auto,50,"{'max_features': 'auto', 'n_estimators': 50}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
1,0.000000,0.000000,0.000000,0.000000,auto,100,"{'max_features': 'auto', 'n_estimators': 100}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
2,0.000000,0.000000,0.000000,0.000000,auto,200,"{'max_features': 'auto', 'n_estimators': 200}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
3,0.232184,0.024492,0.009701,0.006896,sqrt,50,"{'max_features': 'sqrt', 'n_estimators': 50}",0.882759,0.861111,0.847222,0.847222,0.895833,0.866830,0.019476,2
4,0.434512,0.055111,0.013133,0.006633,sqrt,100,"{'max_features': 'sqrt', 'n_estimators': 100}",0.882759,0.861111,0.847222,0.840278,0.895833,0.865441,0.021012,3
5,0.762841,0.073310,0.026507,0.004571,sqrt,200,"{'max_features': 'sqrt', 'n_estimators': 200}",0.882759,0.861111,0.854167,0.833333,0.888889,0.864052,0.020084,5
6,0.177937,0.003954,0.009199,0.006752,log2,50,"{'max_features': 'log2', 'n_estimators': 50}",0.868966,0.833333,0.868056,0.840278,0.902778,0.862682,0.024655,6
7,0.351276,0.014675,0.017222,0.006807,log2,100,"{'max_features': 'log2', 'n_estimators': 100}",0.868966,0.854167,0.847222,0.847222,0.902778,0.864071,0.020919,4
8,0.698165,0.010620,0.018580,0.005130,log2,200,"{'max_features': 'log2', 'n_estimators': 200}",0.875862,0.881944,0.861111,0.833333,0.895833,0.869617,0.021294,1

In [59]:
clf_rf.best_score_

0.869616858237548

In [60]:
# Use PCA to reduce dimensions

In [61]:
X

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,0,0,1,0
2,37,130,283,0,2,98,0,0.0,3,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,0,0,0,0
4,54,150,195,0,1,122,0,0.0,3,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1.2,2,1,0,0,1
914,68,144,193,1,1,141,0,3.4,2,1,0,0,0
915,57,130,131,0,1,115,1,1.2,2,1,0,0,0
916,57,130,236,0,3,174,0,0.0,2,0,1,0,0
917,38,138,175,0,1,173,0,0.0,3,1,0,1,0

In [62]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca

array([[ 93.82465373,  29.40099458],
       [-15.58422331,  14.10909233],
       [ 83.29606634, -38.6867453 ],
       ...,
       [-67.57318721, -17.61319354],
       [ 40.70458237,  33.38750602],
       [-19.91368346,  37.29085722]])

In [63]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [64]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca, y_test)

0.7182320441988951